<h1 class="title">Registro de usuario</h1><br>
<form action="{{url}}/login" method="get">
    <button class="nav-button">Loguearse</button>
</form>
<form action="{{url}}/registro" method="post">
    <label for="username">Cree su nombre de usuario</label><br>
    <input name="username" type="email"><br><br>
    <label for="password">Cree su contraseña</label><br>
    <input name="password" type="text"><br><br>
    <input type="submit" value="Enviar">
</form>