<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación con WebSockets</title>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        :root {
        --primary: #0C1B33;
        --secondary: #d10a18;
        --tertiary: #ffe02f;
        --quaternary: #C16200;
        }

        * {
            margin: 0;
            padding: 0;
            color: var(--secondary);
            background-color: var(--tertiary);
            font-size: 1rem;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1rem;
        }

        .title {
            font-size: 1.7rem;
            margin: 0 auto;
        }

        #welcome {
            display: flex;
        }

        .main-title {
            font-size: 3rem;
            margin: 20px;
        }

        #logout {
            background-color: var(--primary);
            color: var(--tertiary);
            padding: 20px;
            border: 7px solid var(--secondary);
            cursor: pointer;
            margin: 20px;
        }

        input {
            width: 30vw;
            height: 25px;
            margin: 5px;
            border-radius: 5px;
            background-color: var(--primary);
            cursor: pointer;
            transition: all 300ms ease-in-out;
        }

        input:hover {
            background-color: var(--secondary);
            color: var(--tertiary);
        }

        table {
            width: 30vw;
            background-color: var(--primary);
            border: 2px solid var(--primary);
        }

        td, th, tr {
            background-color: var(--primary);
            border: 2px solid var(--quaternary);
            padding: 5px 10px;
        }

        #products, #messages {
            max-width: 40vw;
        }

        @media screen and (max-width: 700px) {
            * {
                font-size: .6rem;
            }
        }
    </style>
</head>
<body>
    {{{body}}}
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>