{{#if products.length}}
<h3 class="title">Productos</h3>
<div>
    <table border="2">
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td style="display: flex; justify-content: center;"><img width="50" src={{this.thumbnail}} alt={{this.title}}></td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}