<h1>Ingrese su producto</h1>
<form action="http://localhost:8080/productos" method="post">
    <input name="title" type="text" placeholder="Producto" required>
    <br>
    <br>
    <input name="price" type="text" placeholder="Precio" required>
    <br>
    <br>
    <input name="thumbnail" type="text" placeholder="Foto URL" required>
    <br>
    <br>
    <input type="submit" value="Send">
</form>
<br>
<button><a href="http://localhost:8080/productos">Ver productos</a></button>