<h1>Productos aleatorios:</h1>
    <table border="20">
    {{#each productos}}

        <tr style="font-size: 2rem;">
            <td>{{this.nombre}}</td>
            <td>{{this.precio}}</td>
            <td style="display: flex; justify-content: center;"><img width="100" src={{this.foto}} alt={{this.nombre}}></td>
        </tr>
    {{/each}}
    </table>
