<h1>Login de usuario</h1>
<form action="http://localhost:8080/home" method="post">
    <label for="usuario">Ingrese su nombre</label><br><br>
    <input name="usuario" type="text">
    <input type="submit" value="Enviar">
</form>